<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for downloading books and covers from remote URLs. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required for playing audiobooks and TTS in the background. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Required to show playback controls and download progress. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".main.Application"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadiumAndroidTestApp">

        <activity
            android:name="com.example.readiumandroidtestapp.main.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!--
            Allows the app to import supported publication formats (EPUB, PDF, LCP, etc.)
            directly from external applications like Gmail, Google Drive, or file managers.
            The filters below handle both 'Share' (SEND) and 'Open With' (VIEW) actions.
            -->

            <!--
            WARNING: Matching with intent-filters on media types and file extensions is a mess.
            This is very sensitive, therefore change these settings with care.

            1. Don't mix the SEND and the VIEW actions in one intent-filter. Because SEND won't
               work if you put a `android:scheme`, but VIEW requires it.

            2. Matching on file extensions for the SEND action doesn't work.

            3. the documentation about `android:pathPattern` (used for matching file
               extensions) states:

               > These attributes are meaningful only if the scheme and host attributes are also
               > specified for the filter.

               But this is wrong, since using `android:scheme` on the SEND action will break the
               matching. Instead of setting `android:scheme`, you need to set `android:mimeType="*/*"`
               to match file extensions with SEND.

            4. `android:pathPattern` is case sensitive and is not using a true regex (it's just
                globbing), so we need to match the uppercase versions of file extensions as well.
            -->

            <!-- SEND (Share) action -->

            <!-- e.g. Dropbox Export, Gmail Send, Files Share. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- WARNING: Don't set `android:scheme` because it will break the matching. -->

                <!-- Audiobook (Readium) -->
                <data android:mimeType="application/audiobook+zip" />
                <data android:mimeType="application/audiobook+json" />
                <!-- CBZ -->
                <data android:mimeType="application/vnd.comicbook+zip" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cbr" />
                <!-- DiViNa -->
                <data android:mimeType="application/divina+zip" />
                <data android:mimeType="application/divina+json" />
                <!-- EPUB -->
                <data android:mimeType="application/epub+zip" />
                <!-- LCP -->
                <data android:mimeType="application/audiobook+lcp" />
                <data android:mimeType="application/pdf+lcp" />
                <data android:mimeType="application/vnd.readium.lcp.license.v1.0+json" />
                <!-- LPF -->
                <data android:mimeType="application/lpf+zip" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- WebPub (Readium) -->
                <data android:mimeType="application/webpub+zip" />
                <data android:mimeType="application/webpub+json" />
            </intent-filter>

            <!-- VIEW (Open with) action -->

            <!-- Works when an app knows the media type of a file, e.g. Gmail or Chrome. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="app" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- Audiobook (Readium) -->
                <data android:mimeType="application/audiobook+zip" />
                <data android:mimeType="application/audiobook+json" />
                <!-- CBZ -->
                <data android:mimeType="application/vnd.comicbook+zip" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cbr" />
                <!-- DiViNa -->
                <data android:mimeType="application/divina+zip" />
                <data android:mimeType="application/divina+json" />
                <!-- EPUB -->
                <data android:mimeType="application/epub+zip" />
                <!-- LCP -->
                <data android:mimeType="application/audiobook+lcp" />
                <data android:mimeType="application/pdf+lcp" />
                <data android:mimeType="application/vnd.readium.lcp.license.v1.0+json" />
                <!-- LPF -->
                <data android:mimeType="application/lpf+zip" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- WebPub (Readium) -->
                <data android:mimeType="application/webpub+zip" />
                <data android:mimeType="application/webpub+json" />
            </intent-filter>

            <!-- Works when an app doesn't know the media type, e.g. Dropbox -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />

                <data android:scheme="app" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- This media type is necessary, otherwise it won't match on the file extension -->
                <data android:mimeType="*/*" />

                <data android:pathPattern=".*\\.audiobook" />
                <data android:pathPattern=".*\\.AUDIOBOOK" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.CBZ" />
                <data android:pathPattern=".*\\.divina" />
                <data android:pathPattern=".*\\.DIVINA" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.EPUB" />
                <data android:pathPattern=".*\\.lcpa" />
                <data android:pathPattern=".*\\.LCPA" />
                <data android:pathPattern=".*\\.lcpdf" />
                <data android:pathPattern=".*\\.LCPDF" />
                <data android:pathPattern=".*\\.lcpl" />
                <data android:pathPattern=".*\\.LCPL" />
                <data android:pathPattern=".*\\.lpf" />
                <data android:pathPattern=".*\\.LPF" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.PDF" />
                <data android:pathPattern=".*\\.webpub" />
                <data android:pathPattern=".*\\.WEBPUB" />
                <data android:pathPattern=".*\\.zab" />
                <data android:pathPattern=".*\\.ZAB" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.readiumandroidtestapp.features.reader.ui.audio.MediaService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>

</manifest>